<!DOCTYPE html>
<html>
<head>
  <title>Org ps</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "org_ps/application", media: "all" %>
  <%= javascript_include_tag "org_ps/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
